In [2]:
import pandas as pd
from pandas import DataFrame
from pandas import read_csv, pivot_table, read_excel
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_excel('세미프로젝트3.xlsx')
df

,h_merkey,year,wv,wv_num,first_wv,last_wv,h_ws,h_wg,h_id,h_ind,...,h13_9,h13_13,h13_17,h13_21,h13_25,h13_29,h13_33,h13_37,h13_41,release_date
0,10101,2005,1,8,1,13,0.362887,815.219792,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,210408
1,10101,2011,7,8,1,13,0.253686,769.749989,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
2,10101,2012,8,8,1,13,0.485991,1567.080473,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
3,10101,2013,9,8,1,13,0.487753,1649.326629,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
4,10101,2014,10,8,1,13,0.487315,1706.010843,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98881,98000701,2015,11,9,7,15,NaN,NaN,9800,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
98882,98000701,2016,12,9,7,15,NaN,NaN,9800,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
98883,98000701,2017,13,9,7,15,NaN,NaN,9800,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
98884,98000701,2018,14,9,7,15,NaN,NaN,9800,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408
98885,98000701,2019,15,9,7,15,NaN,NaN,9800,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210408

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98886 entries, 0 to 98885
Columns: 1811 entries, h_merkey to release_date
dtypes: float64(1741), int64(69), object(1)
memory usage: 1.3+ GB

In [7]:
df.describe()

,h_merkey,year,wv,wv_num,first_wv,last_wv,h_ws,h_wg,h_id,h_ind,...,h13_9,h13_13,h13_17,h13_21,h13_25,h13_29,h13_33,h13_37,h13_41,release_date
count,9.888600e+04,98886.000000,98886.000000,98886.000000,98886.000000,98886.000000,84887.000000,84887.000000,98886.000000,98886.000000,...,7072.000000,7072.000000,7072.000000,7072.000000,7072.000000,7072.000000,7072.000000,7072.000000,7072.000000,98886.0
mean,4.396644e+07,2011.974132,7.974132,12.429383,2.242421,13.706328,1.000000,3174.639277,4396.621514,2.242421,...,1.954751,1.478083,1.551046,1.751555,1.676329,1.408371,1.165300,1.133060,1.317873,210408.0
std,2.635210e+07,4.279481,4.279481,3.669568,2.575144,2.953835,0.774750,2611.213589,2635.196605,2.575144,...,1.410886,0.977950,1.091330,1.292061,1.263150,0.935830,0.533924,0.439493,0.857176,0.0
min,1.010100e+04,2005.000000,1.000000,1.000000,1.000000,1.000000,0.000686,2.322133,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,210408.0
25%,2.191010e+07,2008.000000,4.000000,9.000000,1.000000,15.000000,0.421081,1302.786253,2191.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,210408.0
50%,4.352010e+07,2012.000000,8.000000,15.000000,1.000000,15.000000,0.798038,2464.109891,4352.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,210408.0
75%,6.229760e+07,2016.000000,12.000000,15.000000,1.000000,15.000000,1.375189,4246.336620,6229.750000,1.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,210408.0
max,9.800070e+07,2019.000000,15.000000,15.000000,15.000000,15.000000,10.820838,30639.749723,9800.000000,15.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,210408.0

In [9]:
df.columns

Index(['h_merkey', 'year', 'wv', 'wv_num', 'first_wv', 'last_wv', 'h_ws',
       'h_wg', 'h_id', 'h_ind',
       ...
       'h13_9', 'h13_13', 'h13_17', 'h13_21', 'h13_25', 'h13_29', 'h13_33',
       'h13_37', 'h13_41', 'release_date'],
      dtype='object', length=1811)